# II) RAW DATAFRAME - DATA CLEANING

This notebook shows all steps done to clean first raw dataframe coming from the first part of the project - Script .py for getting the data

In [ ]:
# 1) import libraries
import pandas as pd
import numpy as np
import requests
import datetime
import sys
from datetime import date
import re

In [9]:
# 2) reading raw Data Frame for cleaning 
raw_df = pd.read_csv(r'Weather_raw df.csv')
raw_df.head(10)

,Unnamed: 0,LOCALITA,DATA,TMEDIA Â°C,TMIN Â°C,TMAX Â°C,PUNTORUGIADA Â°C,UMIDITA %,VISIBILITA km,VENTOMEDIA km/h,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,0,Verona,1/1/2004,"""6,4""","""4""","""9,4""","""0,7""","""67""","""12""","""4""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Verona,2/1/2004,"""5,4""","""2""","""7,4""","""-1,9""","""59""","""11""","""14""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Verona,3/1/2004,"""3,1""","""-0,8""","""7""","""-3,9""","""60""","""11""","""3""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Verona,4/1/2004,"""1,3""","""-3""","""9""","""-4,8""","""64""","""11""","""4""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Verona,5/1/2004,"""-2,1""","""-5""","""-1""","""-2,4""","""98""","""3""","""4""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Verona,6/1/2004,"""0,3""","""-4""","""4""","""-1,6""","""87""","""2""","""3""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Verona,7/1/2004,"""1,3""","""-0,2""","""3,2""","""0,3""","""93""","""1""","""5""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Verona,8/1/2004,"""3,6""","""0,4""","""6""","""-0,7""","""73""","""3""","""2""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Verona,9/1/2004,"""3,9""","""2,6""","""6,3""","""2,8""","""93""","""2""","""5""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Verona,10/1/2004,"""4,1""","""-2""","""10,7""","""1,3""","""82""","""3""","""7""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# 3) delete column 'Unnamed' not useful
raw_df = raw_df.drop(raw_df.columns[0], axis=1)

In [11]:
raw_df.head()

,LOCALITA,DATA,TMEDIA Â°C,TMIN Â°C,TMAX Â°C,PUNTORUGIADA Â°C,UMIDITA %,VISIBILITA km,VENTOMEDIA km/h,VENTOMAX km/h,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,Verona,1/1/2004,"""6,4""","""4""","""9,4""","""0,7""","""67""","""12""","""4""","""13""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Verona,2/1/2004,"""5,4""","""2""","""7,4""","""-1,9""","""59""","""11""","""14""","""26""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Verona,3/1/2004,"""3,1""","""-0,8""","""7""","""-3,9""","""60""","""11""","""3""","""9""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Verona,4/1/2004,"""1,3""","""-3""","""9""","""-4,8""","""64""","""11""","""4""","""11""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Verona,5/1/2004,"""-2,1""","""-5""","""-1""","""-2,4""","""98""","""3""","""4""","""9""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# 4) Drop exceeding columns based on column index
raw_df = raw_df.drop(raw_df.columns[15:],axis = 1)

In [13]:
raw_df.columns

Index(['LOCALITA', 'DATA', 'TMEDIA Â°C', 'TMIN Â°C', 'TMAX Â°C',
       'PUNTORUGIADA Â°C', 'UMIDITA %', 'VISIBILITA km', 'VENTOMEDIA km/h',
       'VENTOMAX km/h', 'RAFFICA km/h', 'PRESSIONESLM mb', 'PRESSIONEMEDIA mb',
       'PIOGGIA mm', 'FENOMENI'],
      dtype='object')

In [14]:
# 5) columns indexes translation from ITA to ENG
raw_df.rename(columns={'LOCALITA': 'City', 'DATA': 'Date', 'TMEDIA Â°C': 'AVG Temperature °C',\
    'TMIN Â°C':'MIN Temp °C','TMAX Â°C':'MAX Temp °C', 'PUNTORUGIADA Â°C' : 'Dew point' ,\
    'UMIDITA %':'Humidity', 'VISIBILITA km':'Visibility km', 'VENTOMEDIA km/h':'AVG Wind km/h' ,\
    'VENTOMAX km/h':'MAX Wind km/h' , 'RAFFICA km/h':'Wind gust km/h' , \
    'PRESSIONESLM mb': 'Pressure mb' , 'PRESSIONEMEDIA mb':'AVG Pressure mb' , 'PIOGGIA mm':'Rain mm' , 'FENOMENI':'Phenomenas'}, inplace=True)

In [8]:
# print(raw_df.columns)

In [15]:
# 6) drop not relevant rows
raw_df= raw_df.drop((raw_df[raw_df['City']!='Verona']).index)

In [10]:
# raw_df.shape

In [16]:
# 7) check the datas of last rows 
raw_df.tail()

,City,Date,AVG Temperature °C,MIN Temp °C,MAX Temp °C,Dew point,Humidity,Visibility km,AVG Wind km/h,MAX Wind km/h,Wind gust km/h,Pressure mb,AVG Pressure mb,Rain mm,Phenomenas
7185,Verona,3/9/2023,"""24""","""17""","""29""","""17""","""68""","""18""","""8""","""22""","""0""","""1021""","""0""","""0""",""""""
7186,Verona,4/9/2023,"""24""","""19""","""29""","""18""","""67""","""21""","""7""","""15""","""0""","""1022""","""0""","""0""",""""""
7187,Verona,5/9/2023,"""23""","""18""","""27""","""12""","""52""","""22""","""10""","""18""","""0""","""1022""","""0""","""0""",""""""
7188,Verona,6/9/2023,"""22""","""16""","""29""","""13""","""59""","""18""","""6""","""11""","""0""","""1021""","""0""","""0""",""""""
7189,Verona,7/9/2023,"""23""","""16""","""29""","""13""","""55""","""21""","""10""","""21""","""0""","""1020""","""0""","""0""",""""""

In [17]:
# 8) create a function to replace character ( " )
def clean_func(df):
    return df.str.replace('\"', '')

raw_df= raw_df.apply(clean_func)
raw_df.head()

,City,Date,AVG Temperature °C,MIN Temp °C,MAX Temp °C,Dew point,Humidity,Visibility km,AVG Wind km/h,MAX Wind km/h,Wind gust km/h,Pressure mb,AVG Pressure mb,Rain mm,Phenomenas
0,Verona,1/1/2004,"6,4",4,"9,4","0,7",67,12,4,13,0,0,0,0,pioggia
1,Verona,2/1/2004,"5,4",2,"7,4","-1,9",59,11,14,26,0,0,0,"0,8",pioggia
2,Verona,3/1/2004,"3,1","-0,8",7,"-3,9",60,11,3,9,0,0,0,0,
3,Verona,4/1/2004,"1,3",-3,9,"-4,8",64,11,4,11,0,0,0,0,
4,Verona,5/1/2004,"-2,1",-5,-1,"-2,4",98,3,4,9,0,0,0,0,nebbia

In [18]:
# 9) check columns data format
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7190 entries, 0 to 7189
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   City                7190 non-null   object
 1   Date                7190 non-null   object
 2   AVG Temperature °C  7150 non-null   object
 3   MIN Temp °C         7150 non-null   object
 4   MAX Temp °C         7150 non-null   object
 5   Dew point           7150 non-null   object
 6   Humidity            7150 non-null   object
 7   Visibility km       7150 non-null   object
 8   AVG Wind km/h       7150 non-null   object
 9   MAX Wind km/h       7150 non-null   object
 10  Wind gust km/h      7150 non-null   object
 11  Pressure mb         7150 non-null   object
 12  AVG Pressure mb     7150 non-null   object
 13  Rain mm             7150 non-null   object
 14  Phenomenas          7150 non-null   object
dtypes: object(15)
memory usage: 842.7+ KB

In [19]:
# 10) change Date column format from object to date
raw_df['Date'] = pd.to_datetime(raw_df['Date'], format='%d/%m/%Y')

In [20]:
# 11) check all other columns which report only numeric datas 
print(raw_df.iloc[:,2:-1].head(10))

  AVG Temperature °C MIN Temp °C MAX Temp °C Dew point Humidity Visibility km  \
0                6,4           4         9,4       0,7       67            12
1                5,4           2         7,4      -1,9       59            11
2                3,1        -0,8           7      -3,9       60            11
3                1,3          -3           9      -4,8       64            11
4               -2,1          -5          -1      -2,4       98             3
5                0,3          -4           4      -1,6       87             2
6                1,3        -0,2         3,2       0,3       93             1
7                3,6         0,4           6      -0,7       73             3
8                3,9         2,6         6,3       2,8       93             2
9                4,1          -2        10,7       1,3       82             3

  AVG Wind km/h MAX Wind km/h Wind gust km/h Pressure mb AVG Pressure mb  \
0             4            13              0           0               0
1            14            26              0           0               0
2             3             9              0           0               0
3             4            11              0           0               0
4             4             9              0           0               0
5             3             5              0           0               0
6             5            11              0           0               0
7             2             5              0           0               0
8             5            11              0           0               0
9             7            26             35           0               0

  Rain mm
0       0
1     0,8
2       0
3       0
4       0
5       0
6       0
7       0
8     3,1
9       0

In [21]:
# 12) look for empty rows - no datas are recorded in the Weather Archive
raw_df_null = raw_df[(raw_df['AVG Temperature °C'].isnull()) & (raw_df['MIN Temp °C'].isnull()) &\
                        (raw_df['MAX Temp °C'].isnull()) & (raw_df['Dew point'].isnull()) &\
                            (raw_df['Humidity'].isnull()) & (raw_df['Visibility km'].isnull()) &\
                                (raw_df['AVG Wind km/h'].isnull()) & (raw_df['MAX Wind km/h'].isnull()) &\
                                    (raw_df['Wind gust km/h'].isnull()) & (raw_df['Pressure mb'].isnull()) &\
                                        (raw_df['AVG Pressure mb'].isnull()) & (raw_df['Rain mm'].isnull())]

In [22]:
# 13) check all the indexes of the empty rows - decide not to drop the records because there won't be a right .fillna() method
raw_df_null.index

Int64Index([ 682,  683,  684,  685,  686,  687,  688,  689,  690,  691,  692,
             693,  694,  695,  696,  697,  698,  699, 1335, 1436, 1761, 2173,
            2174, 2908, 2911, 3099, 3370, 3831, 4020, 4251, 4489, 4774, 5514,
            6223, 6485, 6486, 6487, 6488, 6489, 6490],
           dtype='int64')

In [23]:
# 14) create a function to cast all the columns with the correct dtype - parameter " errors='ignore' " is added because of the NaNs value in the DF
def clean_col(col, dtype):
    return col.str.replace(',','.', regex=False).astype(dtype , errors='ignore')

In [24]:
# 15) executing columns cast - dtype 'pd.Int64Dtype' is used because Python struggles to cast into 'int64' when there are NaNs value in columns 
raw_df['AVG Temperature °C'] = clean_col(raw_df['AVG Temperature °C'], dtype='float64')
raw_df['MIN Temp °C'] = clean_col(raw_df['MIN Temp °C'], dtype='float64')
raw_df['MAX Temp °C'] = clean_col(raw_df['MAX Temp °C'], dtype='float64')
raw_df['Dew point'] = clean_col(raw_df['Dew point'], dtype='float64')
raw_df['Humidity'] = clean_col(raw_df['Humidity'], dtype='float64')
raw_df['AVG Wind km/h'] = clean_col(raw_df['AVG Wind km/h'], dtype=pd.Int64Dtype())
raw_df['MAX Wind km/h'] = clean_col(raw_df['MAX Wind km/h'],  dtype=pd.Int64Dtype())
raw_df['Wind gust km/h'] = clean_col(raw_df['Wind gust km/h'], dtype=pd.Int64Dtype())
raw_df['Pressure mb'] = clean_col(raw_df['Pressure mb'], dtype='float64')
raw_df['AVG Pressure mb'] = clean_col(raw_df['AVG Pressure mb'], dtype='float64')
raw_df['Rain mm'] = clean_col(raw_df['Rain mm'], dtype='float64')
raw_df['Visibility km'] = clean_col(raw_df['Visibility km'], dtype=pd.Int64Dtype())

In [25]:
raw_df.head()

,City,Date,AVG Temperature °C,MIN Temp °C,MAX Temp °C,Dew point,Humidity,Visibility km,AVG Wind km/h,MAX Wind km/h,Wind gust km/h,Pressure mb,AVG Pressure mb,Rain mm,Phenomenas
0,Verona,2004-01-01,6.4,4.0,9.4,0.7,67.0,12,4,13,0,0.0,0.0,0.0,pioggia
1,Verona,2004-01-02,5.4,2.0,7.4,-1.9,59.0,11,14,26,0,0.0,0.0,0.8,pioggia
2,Verona,2004-01-03,3.1,-0.8,7.0,-3.9,60.0,11,3,9,0,0.0,0.0,0.0,
3,Verona,2004-01-04,1.3,-3.0,9.0,-4.8,64.0,11,4,11,0,0.0,0.0,0.0,
4,Verona,2004-01-05,-2.1,-5.0,-1.0,-2.4,98.0,3,4,9,0,0.0,0.0,0.0,nebbia

In [26]:
# 16) check string values to translate
raw_df['Phenomenas'].unique()

array(['pioggia ', '', 'nebbia ', 'neve nebbia ', 'pioggia neve nebbia ',
       'pioggia nebbia ', 'pioggia neve ', 'pioggia temporale ',
       'temporale ', 'neve ', 'temporale nebbia ',
       'pioggia temporale nebbia ', nan, 'pioggia grandine '],
      dtype=object)

In [27]:
# 17) remove spaces at the start and at the end of all the words
raw_df['Phenomenas'] = raw_df['Phenomenas'].str.strip()

In [28]:
# 18) replace with the correct translation raw_df['Phenomenas] using a dictionary and inplace
raw_df['Phenomenas'].replace({'nebbia': 'fog', 'pioggia nebbia': 'rain and fog', 'pioggia':'rain',\
     'pioggia neve nebbia':'rain snow fog', 'pioggia neve':'rain snow', 'neve nebbia':'snow fog', \
        'neve':'snow', 'pioggia temporale':'rain thunderstorm','temporale':'thunderstorm',\
            'pioggia temporale nebbia':'rain thunderstorm fog', 'temporale nebbia':'thunderstorm fog',\
                'pioggia grandine':'rain hail'}, inplace=True )

In [29]:
raw_df['Phenomenas'].unique()

array(['rain', '', 'fog', 'snow fog', 'rain snow fog', 'rain and fog',
       'rain snow', 'rain thunderstorm', 'thunderstorm', 'snow',
       'thunderstorm fog', 'rain thunderstorm fog', nan, 'rain hail'],
      dtype=object)

In [30]:
# 19) final check before exporting to csv
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7190 entries, 0 to 7189
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   City                7190 non-null   object
 1   Date                7190 non-null   datetime64[ns]
 2   AVG Temperature °C  7150 non-null   float64
 3   MIN Temp °C         7150 non-null   float64
 4   MAX Temp °C         7150 non-null   float64
 5   Dew point           7150 non-null   float64
 6   Humidity            7150 non-null   float64
 7   Visibility km       7150 non-null   Int64
 8   AVG Wind km/h       7150 non-null   Int64
 9   MAX Wind km/h       7150 non-null   Int64
 10  Wind gust km/h      7150 non-null   Int64
 11  Pressure mb         7150 non-null   float64
 12  AVG Pressure mb     7150 non-null   float64
 13  Rain mm             7150 non-null   float64
 14  Phenomenas          7150 non-null   object
dtypes: Int64(4), datetime64[ns](1), float64(8), object(2)
memory usage: 870.8+ KB

In [31]:
# 20) cleaned df to csv
df_final = raw_df.to_csv(r'Weather_df.csv')